{% extends "bootstrap/base.html" %}
{% block title %}發生了什麼事{% endblock %}

{% block body %}

{% block scripts %}
<script type="text/javascript">
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(addPositionHandler);
    }
  };
  function addPositionHandler(position) {
    var crd = position.coords;
    document.getElementById("lat").value = crd.latitude;
    document.getElementById("long").value = crd.longitude;
  };
  window.onload = function() {
    getLocation();
  };
</script>
{% endblock %}

  <form method=post enctype=multipart/form-data action="{{ url_for('add') }}">
    <dl>
      <dt>說明:
      <dd><input type=text name=message>
      <dt>附圖(可選):
        <dd><input type=file name=image-1>
        <dd><input type=file name=image-2>
        <dd><input type=file name=image-3>
        <dd><input type=file name=image-4>
    </dl>
    <input type=hidden id=lat name=lat>
    <input type=hidden id=long name=long>
    <input type=hidden id=region name=region value="{{ region }}">
    <p><input type=submit value="送出">
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

{% endblock %}
